// Author: Isaac Grant
// Copyright (C) 2013
// All rights reserved

doctype 5
html(lang="en")
	head
		link(href='/stylesheets/main.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/font-awesome.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700', rel='stylesheet')

	body(style="font-family: 'Yanone Kaffeesatz', sans-serif")
		div(Class="container")
			block content